{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">

      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                
                <h2 class="card-title">MONTHLY PERFORMANCE</h2>
              </div>
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple active" id="0">
                    <input type="radio" name="options" checked>
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">PATIENTS</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-single-02"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="1">
                    <input type="radio" class="d-none d-sm-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">REVENUE</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-gift-2"></i>
                    </span>
                  </label>
            
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartBig1"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-chart">
          <div class="card-header">
                    <div class="row">
              <div class="col-sm-6 text-left">
                
                <h2 class="card-title">DAILY PERFORMANCE</h2>
              </div>
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple active" id="3">
                    <input type="radio" name="options" checked>
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">PATIENTS</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-single-02"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="4">
                    <input type="radio" class="d-none d-sm-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">REVENUE</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-gift-2"></i>
                    </span>
                  </label>
                  
                  
                </div>
              </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartLinePurple"></canvas>
            </div>
          </div>
        </div>
      </div>
      </div>
      

      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">TOTAL PATIENTS</h5>
            <h3 class="card-title"><i class="tim-icons icon-send text-success"></i>{{total_patient}}</h3>
          </div>
        </div>
      </div>


      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">TODAY PATIENTS</h5>
            <h3 class="card-title"><i class="tim-icons icon-send text-success"></i>{{today_patient}}</h3>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">TODAY REVENUE</h5>
            <h3 class="card-title"><i class="tim-icons icon-send text-success"></i>{{today_revenue}}</h3>
          </div>
        </div>
      </div>


      

     
    </div>
 

{% endblock content %}

{% block javascripts_above %}
<script>
    const daily_patient_list=JSON.parse("{{daily_patient_list|escapejs}}")['daily_patient_list'];
      console.log(daily_patient_list);
    const daily_revenue_list=JSON.parse("{{daily_revenue_list|escapejs}}")['daily_revenue_list'];
    console.log(daily_revenue_list);

    const monthly_patient_list=JSON.parse("{{monthly_patient_list|escapejs}}")['monthly_patient_list'];
    console.log(monthly_patient_list);
    const monthly_revenue_list=JSON.parse("{{monthly_revenue_list|escapejs}}")['monthly_revenue_list'];
    console.log(monthly_revenue_list);

</script>
 {% endblock javascripts_above %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      const data=[1,2,3];
      

      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
