{% extends "layouts/base.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
          <div class="col-md-8">
            <div class="card">

              <form role="form" method="post" action="/editpatientdetail/{{patient.id}}">
                {% csrf_token %} 

                <div class="card-header">
                    <h3 class="card-title">ADD PATIENT CREDENTIALS HERE</h3>
                 

                  
                </div>

                <div class="card-body">

                    <div class="row">
                      <div class="col-md-5 px-md-1">
                        <div class="form-group">
                          <label>First Name</label>
                          <input class="form-control" id="fname" name="fname" required="false" type="text" value="{{patient.fname}}">
                        </div>
                      </div>

                      <div class="col-md-5 px-md-1">
                        <div class="form-group">
                          <label>Last Name</label>
                          <input class="form-control" id="lname" name="lname" required="false" type="text" value="{{patient.lname}}">
                        </div>
                      </div>
                    </div>

                  
                    
                      <div class="row">
                        <div class="col-md-3 px-md-1">
                          <div class="form-group">
                            <label>AGE</label>
                            <input class="form-control" id="age" name="age" type="text" value="{{patient.age}}">
                          </div>
                        </div>

                        <div class="col-md-3 px-md-1">
                          <div class="form-group">
                            <label>WEIGHT</label>
                            <input class="form-control" id="weight" name="weight"  type="text" value="{{patient.weight}}" >
                          </div>

                      </div>
                      <div class="col-md-3 px-md-1">
                        <div class="form-group">
                          <label>CONTACT</label>
                          <input class="form-control" id="contact" name="contact"  type="text" value="{{patient.contact}}" >
                        </div>
                      </div>
                    
                      </div>

                      

                      <div class="row">
                        <div class="col-md-8 px-md-1">
                          <div class="form-group">
                            <label>ADDRESS</label>
                            <input class="form-control" id="address" name="address"  type="text"  value="{{patient.address}}" >
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8 px-md-1">
                          <div class="form-group">
                            <label>NOTE</label>
                            <input class="form-control" id="note" name="note"  type="text" value="{{patient.note}}" >
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-3 px-md-1">
                          <div class="form-group">
                            <label>REFRENCE-PERSON</label>
                            <input class="form-control" id="rperson" name="rperson"  type="text" value="{{patient.rperson}}">
                          </div>
                        </div>
                      </div>



                    
                </div>
                <div class="card-footer">
                  <button type="submit" name="submit" class="btn btn-fill btn-primary">SUBMIT</button>
                  
                </div>

              </form>

            </div>
          </div>
      </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


  {% endblock javascripts %}




    