

{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> {{patient_info.fname}} {{patient_info.lname}}'S  SUMMARY</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th >
                  Name
                </th>
                <th>
                    TIME
                </th>
                <th>
                  DATE
                </th>
                
              </tr>
            </thead>
  
            <tbody>
                {% for p in patient %} 
              <tr>
                <td>

                    <div class="row">
                        <div class="col-lg-8 ml-auto mr-auto">
                          <div class="row">
                            <div class="col-md-8">
                              <a href="{% url 'summary' p.id id  %}"><!-- HERE p.id IS NOT PATIENT ID BUT IT IS VISIT ID IN patient_health_detail CALLED PATIENT_VISIT -->
        
                      <button class="btn btn-primary btn-block" >{{p.fname}} {{p.lname}} </button>
                              </a>
                      </div>
                      
                          </div>
                        </div>
                      </div>
                      
                </td>
                
                <td>
                    {{p.time}}
                </td>
                <td>
                    {{p.date}}
                </td>
               
              </tr>
              {%endfor%}
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  
  

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
