{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> ALL PATIENTS</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th class="text-center">
                  Name
                </th>
                <th class="text-center">
                    DETAILS
                </th>
                <th>
                  AGE
                </th>
                <th>
                  WEIGHT
                </th>
                <th class="text-center">
                  CONTACT
                </th>
              </tr>
            </thead>

           
            <tbody>
              {% for p in patient %}
              <tr>
                <td>

                    <div class="row">
                        <div class="col-lg-8 ml-auto mr-auto">
                          <div class="row">
                            <div class="col-md-8">
                              <a href="{% url 'addpatient_health_details' p.id %}">
                              <button class="btn btn-primary btn-block" >{{p.fname}} {{p.lname}}  </button>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                </td>
                <td>
                  <div class="row">
                    <div class="col-lg-8 ml-auto mr-auto">
                      <div class="row">
                        <div class="col-md-8">
                          <button class="btn btn-primary btn-block" >VIEW DETAILS</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </td>
                <td>
                    {{p.age}}
                </td>
                <td>
                    {{p.weight}}
                </td>
                <td class="text-center">
                    {{p.contact}}
                </td>
              </tr>
              {%endfor%}
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  
  

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
