<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'addpatient' %}">
    <button type="button" >ADD PATIENT</button>
    </a>
    <a href="{% url 'visit_summary' %}">
    <button type="button" >VISIT SUMMARY</button>
    </a>
    <a href="{% url 'all_group' %}">
    <button type="button" >GROUP</button>
    </a>
    <a href="{% url 'uploadfile' %}">
    <button name="medicine" type="submit" >MEDICINE</button>
    </a>
    <a href="{% url 'statistic' %}">
        <button name="statistic" type="submit" >STATISTIC</button>
        </a>
    <a href="{% url 'uploadRefDoc' %}">
    <button  type="submit" >REFERENCE DOCTORS</button>
    </a>
    <a href="{% url 'uploaddisease' %}">
    <button  type="submit" >disease</button>
    </a>
    <a href="{% url 'uploadSymptoms' %}">
    <button  type="submit" >Symptoms</button>
    </a>
    
    <br>
    {% for p in patient %}
    <a href="{% url 'addpatient_health_details' p.id %}">
    {{p.fname}} {{p.lname}} 
    </a>
    <br>
    {%endfor%}
</body>
</html>