<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in list %}
    <a href="{% url 'particular_person_summary' i.id %}">

        {{i.id}} {{i.name}}
    </a>
    <br>
    {%endfor%}
    <br><br><br><br><br><br><br><br><br><br><br><br>
    TOTAL PAID:-{{tpaid}}<br>
    TOTAL FEES:-{{tfees}}<br>
    TOTAL LEFT TO TAKE FROM GROUP:-{{tfrom_patient}}<br>
    TOTAL LEFT TO GIVE GROUP:-{{tfrom_doc}}<br>
    LIST OF PATIENT WHO'S MONEY LEFT<br>
    {% for i in list_pleft %}
    {{i.fname}} {{i.lname}}:-{{i.left}}<br>
    {%endfor%}
    LIST OF PATIENT WHO'S MONEY I HAVE TO GIVE<br>
    {% for i in list_dleft %}
    {{i.fname}} {{i.lname}}:-{{i.left}}<br>
    {%endfor%}

</body>
</html>