<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    NAME:-{{s.fname}} {{s.lname}}<br>
    DATE AND TIME:- {{s.date}} {{s.time}}<br>
    SYMPTOMS:-{{s.symptoms}}<br>  
    DIAGNOSTIC:-{{s.diagnostic}} <br>
    PRESCRIPTION:-{{s.prescription}}<br>  
    REPORT:-{{s.report}} <br>
    FEES:-{{s.fees}} <br>
    PAID:-{{s.paid}}<br>
    LEFT FROM {{s.fname}} {{s.lname}}:-{{s.left_from_patient}}<br>
    LEFT FROM DOCTOR :-{{s.left_from_doc}}<br>
    TOTAL FEES :-{{t.tfees}}<br>
    TOTAL PAID :-{{t.tpaid}}<br>
    TOTAL LEFT FROM {{s.fname}} {{s.lname}}:-{{t.tleft_from_patient}}<br>
    TOTAL FROM DOCTOR :-{{t.tleft_from_doc}}<br>
</body>
</html>