<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload Symptoms</title>
</head>
<body>
    {%if messages%}
    {%for message in messages%}
    <div class="alert alert-{{message.tags}}" role="alert">
        <p>{{message}}</p>
    </div>
    {%endfor%}
    {%endif%}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token%}
        <h2>please upload excel file</h2>
        <input type="file" name="mysymptoms">
        <button type="submit">upload</button>
    </form>
    <h1>OR</h1>
    <h3>add symptoms</h3>
    <form action="{% url 'addSymptoms'%}" method="post">
        {% csrf_token%}
        symptoms name:<input type="text" name="symptoms"><br>
        complexity:<input type="text" name="complexity">
        <button type="submit">add</button>
    </form>
   <a href="{% url 'viewSymptoms'%}">
       <button >View</button>
   </a>
</body>
</html>